/* CSS declarations go here */
.thumbnail {
	height: 500px;
}

.thumbnail-img {
	max-height: 300px;
}

body {
	padding-top: 60px;
	background-color: LightBlue;
}

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 45px;
}

.navbar {
	background-color: LightBlue;
}

#loginform {
	font-size: 25px;
}